hoist-pattern[]=*
hoist-pattern[]=!@next
hoist-pattern[]=!@next/**
hoist-pattern[]=!next
hoist-pattern[]=!next/**
hoist-pattern[]=!react
hoist-pattern[]=!react/**
hoist-pattern[]=!react-dom
hoist-pattern[]=!react-dom/**
hoist-pattern[]=!keystone-6/core
hoist-pattern[]=!keystone-6/core/**