import React from 'react';

interface Props {
  // Add your component's props here
}

const {{pascalCase name}}: React.FC<Props> = ({}) => {
  return <div>{{pascalCase name}} component</div>;
};

export default {{pascalCase name}};
